@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');

/* some reset */
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  color: white;
}

/* default settings : */
html {
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: 'Oxygen', sans-serif;
  height: 100vh;
  width: 100%;
}

/* root variables */
:root {
  --white: #ffffff;
  --whiteOpacity: #ffffffa6;

  /* Big screen fontSize */
  --bs_titleHeaderSize: 12rem;
  --bs_contentHeaderSize: 3rem;
  --bs_titleSectionSize: 2.5rem;
  --bs_subtitleSectionSize: 3.5rem;
  --bs_linksItemSize: 1.8rem;
  --bs_aboutContentSize: 1.9rem;
  --bs_btnVisitSize: 1.5rem;
  --bs_cardContentSize: 2rem;

  /* Medium screen fontSize */
  --ms_titleHeaderSize: 8rem;
  --ms_contentHeaderSize: 2.5rem;

  /* Tablette screen fontSize */
  --ts__titleHeaderSize: 7rem;
  --ts_contentHeaderSize: 2rem;
  --ts_aboutContentSize: 1.8rem;

  /* margin */
  --marginTopSection: 50rem;

  /* padding */
  --paddingLeft: 30rem;
  --paddingRight: 30rem;

  /* paddingSM */
  --sm_paddingLeft: 18rem;
  --sm_paddingRight: 18rem;

  /* width */
  --maxWidthAboutContent: 70rem;
  --bs_widthContainerSkills: 100%;
  --ts_maxWidthAboutContent: 50rem;

  /* width tablette */
  --ts_paddingLeft: 0rem;
  --ts_paddingRight: 0rem;
}

/*BG IS THE BACKGROUND IMAGE WHICH WILL BE CHANGE DYNAMICALY IN DEPEND OF EUROPE HOURS*/
.bg {
  position: fixed;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.blur {
  position: absolute;
  background-attachment: fixed, scroll;
  backdrop-filter: blur(8px);
  padding-bottom: 5rem;
}

/* global */
.title {
  color: var(--whiteOpacity);
  font-size: var(--bs_titleSectionSize);
}
.subtitle {
  color: var(--white);
  font-size: var(--bs_subtitleSectionSize);
}
.about-content {
  color: var(--whiteOpacity);
  font-size: var(--bs_aboutContentSize);
  padding: 1rem 0;
  width: var(--maxWidthAboutContent);
}
.btn-visit {
  padding: 1rem 3rem;
  border: 0.05rem solid var(--whiteOpacity);
  border-radius: 15rem;
  font-size: var(--bs_btnVisitSize);
  color: var(--whiteOpacity);
  transition: transform 0.3s ease-in-out;
}
.btn-visit:hover{
  transform: scale(1.15);
  box-shadow: 0 4px 30px rgba(150, 150, 150, 0.3);
}
.card-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 25rem;
  height: 25rem;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.466);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.514);
  backdrop-filter: blur(17.5px);
  -webkit-backdrop-filter: blur(17.5px);
  transition: all 0.3s ease;
  flex: auto;
}
.card-item:hover {
  transform: scale(1.1);
  background: rgba(2, 2, 2, 0.6);
  box-shadow: 0 4px 30px rgba(245, 245, 245, 0.089);
  cursor: pointer;
}
.card-icon {
  width: 10rem;
  height: auto;
  border-radius: 1rem;
}
.card-content:nth-child(0n + 2) {
  margin-top: 2rem;
}
.card-content {
  color: #ffffff;
  font-size: var(--bs_cardContentSize);
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  padding-top: 1rem;
  font-weight: bold;
}

/* container */
.container {
  width: 100%;
  margin: 0 auto;
  padding-left: var(--paddingLeft);
  padding-right: var(--paddingRight);
}

#container-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25rem;
}

#container-me--title {
  position: relative;
  font-size: var(--bs_titleHeaderSize);
  color: var(--white);

  animation-name: fadeWelcomeTitlePopPup;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.container-me--content {
  animation-name: fadeWelcomeTitlePopPup;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  font-size: var(--bs_contentHeaderSize);
  color: var(--whiteOpacity);
}
.container-me--content:last-child {
  margin-bottom: 10px;
  padding-bottom: 3rem;
}
#container-visit {
  animation-name: fadeWelcomeTitleLeft;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  display: flex;
  justify-content: center;
  gap: 6rem;
}

/* Section about */
#container-about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: var(--marginTopSection);
  gap: 5rem;
}
.container-about-play-animation {
  animation-name: fadeWelcomeTitleRight;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

.opacityOff {
  opacity: 0;
}

.wrapper-about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: auto;
}

#about-image {
  display: block;
  width: 30rem;
  height: auto;
  border-radius: 15rem;
}

/* Section skill */
#container-experiences {
  margin-top: var(--marginTopSection);
}
.container-list-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
  width: var(--bs_widthContainerSkills);
  height: auto;
  margin: 1rem auto;
}

/* Section Projects */
#container-projects {
  margin-top: var(--marginTopSection);
}

/* ANIMATION */
@keyframes fadeWelcomeTitleRight {
  0% {
    opacity: 0;
    transform: translate3d(-250px, 0, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeWelcomeTitleLeft {
  0% {
    opacity: 0;
    transform: translate3d(250px, 0, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeWelcomeTitlePopPup {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  30% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  80% {
    opacity: 0.7;
  }

  95% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* RESPONSIVE */
@media screen and (max-width: 1731px) {
  #container-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10rem;
  }
  .wrapper-about {
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }
}

@media screen and (max-width: 1356px) {
  #container-me--title {
    font-size: var(--ms_titleHeaderSize);
  }

  .container-me--content {
    font-size: var(--ms_contentHeaderSize);
  }

  .container-list-skills {
    padding: 0 0rem;
  }

  .title {
    text-align: center;
  }

  .subtitle {
    text-align: center;
  }
}

@media screen and (max-width: 1111px) {
  .container {
    padding-left: var(--ts_paddingLeft);
    padding-right: var(--ts_paddingRight);
  }

  .container-list-skills {
    padding: 0 25rem;
  }

  #container-me--title {
    font-size: var(--ts__titleHeaderSize);
  }

  .container-me--content {
    font-size: var(--ts_contentHeaderSize);
  }
}

@media screen and (max-width: 735px) {
  #container-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  #container-me--title {
    text-align: center;
  }
  .container-me--content {
    text-align: center;
  }

  .wrapper-about {
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }

  .about-content {
    font-size: var(--ts_aboutContentSize);
    width: var(--ts_maxWidthAboutContent);
  }

  .container-list-skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    width: var(--bs_widthContainerSkills);
    height: auto;
    margin: 1rem auto;
    padding: 0 2rem;
  }

  .title {
    text-align: center;
  }

  .subtitle {
    text-align: center;
  }
}
