@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");

/* some reset */
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

/* default settings : */
html {
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: "Oxygen", sans-serif;
  height: 100vh;
  width: 100%;
}

/* SCROLL BAR */
/* Track */
::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background: #00000073;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background: #00000073;
}

/* root variables */
:root {
  --white: #ffffff;
  --whiteOpacity: #ffffffa6;

  /* Big screen fontSize */
  --bs_titleHeaderSize: 12rem;
  --bs_subtitleHeaderSize: 1.8rem;
  --bs_contentHeaderSize: 3rem;
  --bs_titleSectionSize: 2.5rem;
  --bs_subtitleSectionSize: 3.5rem;
  --bs_linksItemSize: 1.8rem;
  --bs_aboutContentSize: 1.9rem;
  --bs_btnVisitSize: 1.5rem;
  --bs_cardContentSize: 2rem;
  --bs_overlay_titleSize: 2rem;
  --bs_overlay_description: 1.7rem;
  --bs_overlay_link: 2rem;

  /* Medium screen fontSize */
  --ms_titleHeaderSize: 8rem;
  --ms_contentHeaderSize: 2.5rem;

  /* Tablette screen fontSize */
  --ts__titleHeaderSize: 7rem;
  --ts_contentHeaderSize: 2rem;
  --ts_aboutContentSize: 1.8rem;
  --ts_overlay_titleize: 2rem;
  --ts_overlay_description: 1.5rem;
  --ts_overlay_link: 1rem;

  /* Phone screen fontSize */
  --ps__titleHeaderSize: 5rem;
  --ps_subTitleHeaderSize: 1.2rem;
  --ps_contentHeaderSize: 2rem;
  --ps_aboutContentSize: 1.7rem;
  --ps_cardContentSize: 1rem;
  --ps_overlay_titleize: 2rem;
  --ps_overlay_description: 1.5rem;
  --ps_overlay_link: 1rem;

  /* margin */
  --marginTopSection: 50rem;

  /* padding */
  --paddingLeft: 30rem;
  --paddingRight: 30rem;

  /* paddingSM */
  --sm_paddingLeft: 18rem;
  --sm_paddingRight: 18rem;

  /* width */
  --maxWidthAboutContent: 70rem;
  --bs_widthContainerSkills: 100%;
  --ts_maxWidthAboutContent: 50rem;
  --ps_maxWidthAboutContent: 32rem;
  --bs_wrapperWidthProjects: 100%;
  --ts_wrapperWidthProjects: 35rem;
  --ps_wrapperWidthProjects: 35rem;

  /* width tablette */
  --ts_paddingLeft: 0rem;
  --ts_paddingRight: 0rem;
}

/*BG IS THE BACKGROUND IMAGE WHICH WILL BE CHANGE DYNAMICALY IN DEPEND OF EUROPE HOURS*/
.bg {
  position: fixed;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.blur {
  position: absolute;
  background-attachment: fixed, scroll;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding-bottom: 5rem;
}

/* global */
.bold {
  color: #ffffff;
  font-weight: bold;
}
.title {
  color: var(--whiteOpacity);
  font-size: var(--bs_titleSectionSize);
}
.subtitle {
  color: var(--white);
  font-size: var(--bs_subtitleSectionSize);
}
.about-content {
  color: var(--whiteOpacity);
  font-size: var(--bs_aboutContentSize);
  padding: 1rem 0;
  width: var(--maxWidthAboutContent);
}
.btn-visit {
  padding: 1rem 3rem;
  border: 0.05rem solid var(--whiteOpacity);
  border-radius: 15rem;
  font-size: var(--bs_btnVisitSize);
  color: var(--whiteOpacity);
  transition: transform 0.3s ease-in-out;
}
.btn-visit:hover {
  transform: scale(1.15);
  box-shadow: 0 4px 30px rgba(150, 150, 150, 0.3);
}
.card-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 25rem;
  height: 25rem;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.466);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.514);
  backdrop-filter: blur(17.5px);
  -webkit-backdrop-filter: blur(17.5px);
  transition: all 0.3s ease;
  flex: auto;
}
.card-item:hover {
  transform: scale(1.1);
  background: rgba(2, 2, 2, 0.6);
  box-shadow: 0 4px 30px rgba(245, 245, 245, 0.089);
  cursor: pointer;
}
.card-icon {
  width: 10rem;
  height: auto;
  border-radius: 1rem;
}
.card-content:nth-child(0n + 2) {
  margin-top: 2rem;
}
.card-content {
  color: #ffffff;
  font-size: var(--bs_cardContentSize);
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  padding-top: 1rem;
  font-weight: bold;
}

/* container */
.container {
  width: 100%;
  margin: 0 auto;
  padding-left: var(--paddingLeft);
  padding-right: var(--paddingRight);
}

#container-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25rem;
}

#container-me--title {
  position: relative;
  font-size: var(--bs_titleHeaderSize);
  color: var(--white);

  animation-name: fadeWelcomeTitlePopPup;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.container-me--content {
  animation-name: fadeWelcomeTitlePopPup;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  font-size: var(--bs_contentHeaderSize);
  color: var(--whiteOpacity);
}
#container-me > p:nth-child(even) {
  margin-top: 1rem;
}
#container-me > p:nth-child(odd) {
  margin-bottom: 3rem;
  font-size: var(--bs_subtitleHeaderSize);
}
#container-visit {
  animation-name: fadeWelcomeTitleLeft;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  display: flex;
  justify-content: center;
  gap: 6rem;
}

/* Section about */
#container-about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: var(--marginTopSection);
  gap: 5rem;
}
.container-about-play-animation {
  animation-name: fadeWelcomeTitleRight;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

.opacityOff {
  opacity: 0;
}

.wrapper-about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: auto;
}

#about-image {
  display: block;
  width: 30rem;
  height: auto;
  border-radius: 15rem;
}

/* Section skill */
#container-experiences {
  margin-top: var(--marginTopSection);
}
.container-list-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
  width: var(--bs_widthContainerSkills);
  height: auto;
  margin: 1rem auto;
}

/* Section Projects */
#container-projects {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: var(--marginTopSection);
}

.wrapper-projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 10rem;
  width: var(--bs_wrapperWidthProjects);
  padding-top: 2rem;
  padding-bottom: 15em;
}

.img-project {
  position: relative;
  width: 60rem;
  height: auto;
  aspect-ratio: 16/9;
  border-radius: 2rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.7);
  object-fit: cover;
  border: 0.1rem solid rgba(8, 8, 8, 0.438);
  z-index: -1;
  transition: all 1s ease-in-out;
}

.parent-overlay {
  position: relative;
}

.parent-overlay:hover {
  border-radius: 2rem;
  z-index: 3;
}

/* if we hover the parent-overlay then we add the animation to the child overlay */
.parent-overlay:hover .overlay {
  animation: overlayTransition 0.6s forwards ease-in-out;
}

/* if we hover the parent-overlay then we add the opacity to the img-project */
.parent-overlay:hover .img-project {
  opacity: 0.2;
}

/* if we hover the parent-overlay then we add the opacity to the text-content */
.parent-overlay:hover .overlay h5 {
  animation: opacityOverlayContent 2.5s forwards ease-in-out;
}
.parent-overlay:hover .overlay p {
  animation: opacityOverlayContent 2.5s forwards ease-in-out;
}
.parent-overlay:hover .overlay a {
  animation: opacityOverlayContent 2.5s forwards ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0rem;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 2rem;
  opacity: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
}

.wrapper-overlay-btn {
  display: flex;
  flex-direction: row;
  flex: auto;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.overlay h5 {
  font-size: var(--bs_overlay_titleSize);
  color: white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0;
}

.overlay p {
  font-size: var(--bs_overlay_description);
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  opacity: 0;
  padding: 0.5rem 3.5rem;
  line-height: 2.7rem;
}

.overlay a {
  display: block;
  font-size: var(--bs_overlay_link);
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  font-weight: bold;
  background: #ffffff1c;
  padding: 1rem 2rem;
  border-radius: 1rem;
  transition: transform 0.2s ease-in-out;
}

.overlay a:hover {
  transform: scale(1.2);
}

/* ANIMATION */
@keyframes fadeWelcomeTitleRight {
  0% {
    opacity: 0;
    transform: translate3d(-250px, 0, 0);
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeWelcomeTitleLeft {
  0% {
    opacity: 0;
    transform: translate3d(250px, 0, 0);
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeWelcomeTitlePopPup {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  30% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  80% {
    opacity: 0.7;
  }

  95% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes overlayTransition {
  0% {
    position: absolute;
    top: 0;
    right: 0rem;
    width: 0;
    opacity: 0;
  }

  100% {
    position: absolute;
    width: 55%;
    top: 0;
    right: 0;
    opacity: 1;
  }
}

@keyframes opacityOverlayContent {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* RESPONSIVE */
@media screen and (max-width: 1731px) {
  #container-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10rem;
  }
  .wrapper-about {
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }
}

@media screen and (max-width: 1356px) {
  #container-me--title {
    font-size: var(--ms_titleHeaderSize);
  }

  #container-me > p:nth-child(odd) {
    font-size: var(--ts_subTitleHeaderSize);
  }

  .container-me--content {
    font-size: var(--ms_contentHeaderSize);
  }

  .container-list-skills {
    padding: 0 0rem;
  }

  .title {
    text-align: center;
  }

  .subtitle {
    text-align: center;
  }

  .wrapper-projects {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1111px) {
  .container {
    padding-left: var(--ts_paddingLeft);
    padding-right: var(--ts_paddingRight);
  }

  .container-list-skills {
    padding: 0 25rem;
  }

  #container-me--title {
    font-size: var(--ts__titleHeaderSize);
  }

  .container-me--content {
    font-size: var(--ts_contentHeaderSize);
  }

  .wrapper-projects {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 735px) {
  #container-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  #container-me > p:nth-child(odd) {
    font-size: var(--ts_subTitleHeaderSize);
  }

  #container-me--title {
    text-align: center;
  }
  .container-me--content {
    text-align: center;
  }

  .wrapper-about {
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }

  .about-content {
    font-size: var(--ts_aboutContentSize);
    width: var(--ts_maxWidthAboutContent);
  }

  .container-list-skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    width: var(--bs_widthContainerSkills);
    height: auto;
    margin: 1rem auto;
    padding: 0 2rem;
  }

  .title {
    text-align: center;
  }

  .subtitle {
    text-align: center;
  }

  .wrapper-projects {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding-left: var(--ts_paddingLeft);
    padding-right: var(--ts_paddingRight);
  }

  #container-me--title {
    text-align: center;
    font-size: var(--ps__titleHeaderSize);
  }

  #container-me > p:nth-child(odd) {
    margin-top: 1rem;
    font-size: var(--ps_subTitleHeaderSize);
  }

  .about-content {
    color: var(--whiteOpacity);
    font-size: var(--ps_aboutContentSize);
    width: var(--ps_maxWidthAboutContent);
  }

  .card-item {
    width: 10rem;
    height: 15rem;
  }

  .card-icon {
    width: 5rem;
  }

  .card-content {
    font-size: var(--ps_cardContentSize);
  }

  .wrapper-projects {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img-project {
    width: 30rem;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 2rem;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
    object-fit: cover;
  }
}
